In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('C:\\Users\\Pc\\Desktop\\GoMyCode\\titanic-passengers.csv', sep=';',encoding='unicode_escape')
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S
5,105,No,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S
6,576,No,3,"Patchett, Mr. George",male,19.0,0,0,358585,14.5000,NaN,S
7,382,Yes,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C
8,228,No,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.2500,NaN,S
9,433,Yes,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S

In [3]:
#Description of the dataset
data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [4]:
data['Age']=data['Age'].replace(np.NaN, data['Age'].mean())
data['Age'].isnull().sum()

0

In [5]:
data['Cabin']=data['Cabin'].replace(np.NaN, data['Cabin'].mode()[0])
data['Cabin']

0      B96 B98
1        F G73
2      B96 B98
3      B96 B98
4          B71
        ...
886    B96 B98
887    B96 B98
888    B96 B98
889    B96 B98
890    B96 B98
Name: Cabin, Length: 891, dtype: object

In [6]:
data['Embarked']=data['Embarked'].dropna
data['Embarked'].isnull().sum()

0

In [7]:
cor=data.corr()
cor

             PassengerId    Pclass       Age     SibSp     Parch      Fare
PassengerId     1.000000 -0.035144  0.033207 -0.057527 -0.001652  0.012658
Pclass         -0.035144  1.000000 -0.331339  0.083081  0.018443 -0.549500
Age             0.033207 -0.331339  1.000000 -0.232625 -0.179191  0.091566
SibSp          -0.057527  0.083081 -0.232625  1.000000  0.414838  0.159651
Parch          -0.001652  0.018443 -0.179191  0.414838  1.000000  0.216225
Fare            0.012658 -0.549500  0.091566  0.159651  0.216225  1.000000

In [8]:
data.groupby('Survived').mean()

          PassengerId    Pclass        Age     SibSp     Parch       Fare
Survived
No         447.016393  2.531876  30.415100  0.553734  0.329690  22.117887
Yes        444.368421  1.950292  28.549778  0.473684  0.464912  48.395408

***Building our decision tree model for survival prediction***

In [9]:
#Preprocessing our data
def preprocess_data(new_data):
    new_data['Age'].fillna(new_data['Age'].mean(),inplace=True)
    new_data.replace({'Sex':{'male': 1,'female':0}},inplace=True)
    new_data['Cabin']=new_data.Cabin.fillna('G6')
    new_data.replace({'Survived':{'Yes': 1,'No':0}},inplace=True)
    return new_data
data=preprocess_data(data)

In [10]:
#features extraction
x=data.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y= data["Survived"]

#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

#applying tree algorithm
tree = tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train)   #fitting our model
y_pred=tree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7653631284916201

In [12]:
from sklearn.tree import export_graphviz
import graphviz
dot_data = tree.export_graphviz(tree, out_file=None)
graph = graphviz.Source(dot_data)
graph.render('data')
graph

AttributeError: 'DecisionTreeClassifier' object has no attribute 'export_graphviz'